<nav>
  <a href="/word_count/new">
    <i class="fas fa-fw fa-calculator"></i>

    Omnicalc
  </a>

  <a href="/word_count/new">
    <i class="fas fa-fw fa-book"></i>

    Word Count
  </a>

  <a href="/loan_payment/new">
    <i class="far fa-fw fa-money-bill-alt"></i>

    Loan Payment
  </a>

  <a href="/time_between/new">
    <i class="far fa-fw fa-clock"></i>

    Time Between
  </a>

  <a href="/stats/new">
    <i class="far fa-fw fa-chart-bar"></i>

    Descriptive Statistics
  </a>
</nav>

<h1>
  Descriptive statistics results
</h1>

<dl>
  <dt>
    Numbers
  </dt>
  <dd>
    [10.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 8.0, 9.0]
  </dd>

  <dt>
    Sorted Numbers
  </dt>
  <dd>
    [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 8.0, 9.0, 10.0]
  </dd>

  <dt>
    Count
  </dt>
  <dd>
    11
  </dd>

  <dt>
    Minimum
  </dt>
  <dd>
    1.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    10.0
  </dd>

  <dt>
    Range
  </dt>
  <dd>
    9.0
  </dd>

  <dt>
    Median
  </dt>
  <dd>
    6.0
  </dd>

  <dt>
    Sum
  </dt>
  <dd>
    63.0
  </dd>

  <dt>
    Mean
  </dt>
  <dd>
    5.7272727272727275
  </dd>

  <dt>
    Variance
  </dt>
  <dd>
    8.016528925619836
  </dd>

  <dt>
    Standard Deviation
  </dt>
  <dd>
    2.831347545890443
  </dd>

  <dt>
    Mode
  </dt>
  <dd>
    8.0
  </dd>
</dl>
