<nav>
  <a href="/word_count/new">
    <i class="fas fa-fw fa-calculator"></i>

    Omnicalc
  </a>

  <a href="/word_count/new">
    <i class="fas fa-fw fa-book"></i>

    Word Count
  </a>

  <a href="/loan_payment/new">
    <i class="far fa-fw fa-money-bill-alt"></i>

    Loan Payment
  </a>

  <a href="/time_between/new">
    <i class="far fa-fw fa-clock"></i>

    Time Between
  </a>

  <a href="/stats/new">
    <i class="far fa-fw fa-chart-bar"></i>

    Descriptive Statistics
  </a>
</nav>

<h1>
  Time between results
</h1>

<dl>
  <dt>Starting Time</dt>
  <dd>11:30am on January 20, 2017</dd>

  <dt>Ending Time</dt>
  <dd>11:30am on January 20, 2021</dd>

  <dt>Seconds</dt>
  <dd>126230400.0</dd>

  <dt>Minutes</dt>
  <dd>2103840.0</dd>

  <dt>Hours</dt>
  <dd>35064.0</dd>

  <dt>Days</dt>
  <dd>1461.0</dd>

  <dt>Weeks</dt>
  <dd>208.71428571428572</dd>

  <dt>Years</dt>
  <dd>4.0</dd>
</dl>
