<nav>
  <a href="/word_count/new">
    <i class="fas fa-fw fa-calculator"></i>

    Omnicalc
  </a>

  <a href="/word_count/new">
    <i class="fas fa-fw fa-book"></i>

    Word Count
  </a>

  <a href="/loan_payment/new">
    <i class="far fa-fw fa-money-bill-alt"></i>

    Loan Payment
  </a>

  <a href="/time_between/new">
    <i class="far fa-fw fa-clock"></i>

    Time Between
  </a>

  <a href="/stats/new">
    <i class="far fa-fw fa-chart-bar"></i>

    Descriptive Statistics
  </a>
</nav>

<h1>
  Word count results
</h1>

<dl>
  <dt>
    Text
  </dt>
  <dd>
    <p>The first draft is just you telling yourself the story.</p>
  </dd>

  <dt>
    Word Count
  </dt>
  <dd>
    10
  </dd>

  <dt>
    Character Count (with spaces)
  </dt>
  <dd>
    55
  </dd>

  <dt>
    Character Count (without spaces)
  </dt>
  <dd>
    46
  </dd>

  <dt>
    Occurrences of <code>the</code>
  </dt>
  <dd>
    2
  </dd>
</dl>
