<h1>Bootstrap</h1>

<h2>Intro</h2>

<p>Let's learn a little bit more about the front-end. Our goal is to transform these starting points:</p>

<ul>
  <li>
    <a href="/rock" target="_blank">Play Rock (<code>/rock</code>)</a>
  </li>

  <li>
    <a href="/paper" target="_blank">Play Paper (<code>/paper</code>)</a>
  </li>

  <li>
    <a href="/scissors" target="_blank">Play Scissors (<code>/scissors</code>)</a>
  </li>

  <li>
    <a href="/rules" target="_blank">Rules (<code>/rules</code>)</a>
  </li>
</ul>

<p>Recall that our previous adventures with CSS had the following targets. Click through them; what do you think are the most important style-related things that should be improved?</p>

<ul>
  <li>
    <a href="/old_target/rock" target="_blank">Old Play Rock Target (<code>/old_target/rock</code>)</a>
  </li>

  <li>
    <a href="/old_target/paper" target="_blank">Old Play Paper Target (<code>/old_target/paper</code>)</a>
  </li>

  <li>
    <a href="/old_target/scissors" target="_blank">Old Play Scissors Target (<code>/old_target/scissors</code>)</a>
  </li>

  <li>
    <a href="/old_target/rules" target="_blank">Old Rules Target (<code>/old_target/rules</code>)</a>
  </li>
</ul>

<p>Our first goal is to achieve much more robust, pixel-perfect positioning, primarily. Our first target:</p>

<ul>
  <li>
    <a href="/first_target/rock" target="_blank">First Play Rock Target (<code>/first_target/rock</code>)</a>
  </li>

  <li>
    <a href="/first_target/paper" target="_blank">First Play Paper Target (<code>/first_target/paper</code>)</a>
  </li>

  <li>
    <a href="/first_target/scissors" target="_blank">First Play Scissors Target (<code>/first_target/scissors</code>)</a>
  </li>

  <li>
    <a href="/first_target/rules" target="_blank">First Rules Target (<code>/first_target/rules</code>)</a>
  </li>
</ul>

<p>It might also be nice to play around with different colors:</p>

<ul>
  <li>
    <a href="/second_target/rock" target="_blank">Second Play Rock Target (<code>/second_target/rock</code>)</a>
  </li>

  <li>
    <a href="/second_target/paper" target="_blank">Second Play Paper Target (<code>/second_target/paper</code>)</a>
  </li>

  <li>
    <a href="/second_target/scissors" target="_blank">Second Play Scissors Target (<code>/second_target/scissors</code>)</a>
  </li>

  <li>
    <a href="/second_target/rules" target="_blank">Second Rules Target (<code>/second_target/rules</code>)</a>
  </li>
</ul>

<p>Or, a stretch goal — completely customize colors, fonts, and even the stroke paths of e.g. borders:</p>

<ul>
  <li>
    <a href="/third_target/rock" target="_blank">Third Play Rock Target (<code>/third_target/rock</code>)</a>
  </li>

  <li>
    <a href="/third_target/paper" target="_blank">Third Play Paper Target (<code>/third_target/paper</code>)</a>
  </li>

  <li>
    <a href="/third_target/scissors" target="_blank">Third Play Scissors Target (<code>/third_target/scissors</code>)</a>
  </li>

  <li>
    <a href="/third_target/rules" target="_blank">Third Rules Target (<code>/third_target/rules</code>)</a>
  </li>
</ul>

<h2>Forms</h2>

<p>One of the hardest things to style with CSS is forms, yet forms are essential to any interactive application.</p>

<p>Let's practice by improving Omnicalc's styling. Here are our starting points:</p>

<ul>
  <li>
    <a href="/word_count/new" target="_blank">Word Count (<code>/word_count/new</code>)</a>
  </li>

  <li>
    <a href="/loan_payment/new" target="_blank">Loan Payment (<code>/loan_payment/new</code>)</a>
  </li>

  <li>
    <a href="/time_between/new" target="_blank">Time Between (<code>/time_between/new</code>)</a>
  </li>

  <li>
    <a href="/stats/new" target="_blank">Descriptive Statistics (<code>/stats/new</code>)</a>
  </li>
</ul>

<p>Let's shoot for these targets:</p>

<ul>
  <li>
    <a href="/omnicalc/first_target/word_count/new" target="_blank">Word Count (<code>/omnicalc/first_target/word_count/new</code>)</a>
  </li>

  <li>
    <a href="/omnicalc/first_target/loan_payment/new" target="_blank">Loan Payment (<code>/omnicalc/first_target/loan_payment/new</code>)</a>
  </li>

  <li>
    <a href="/omnicalc/first_target/time_between/new" target="_blank">Time Between (<code>/omnicalc/first_target/time_between/new</code>)</a>
  </li>

  <li>
    <a href="/omnicalc/first_target/stats/new" target="_blank">Descriptive Statistics (<code>/omnicalc/first_target/stats/new</code>)</a>
  </li>
</ul>
