<div class="container pt-5">
  <div class="row">
    <div class="col-4 mb-3">
      <a href="rock" class="btn btn-block btn-outline-info">
        <i class="far fa-hand-rock fa-fw"></i>

        <span class="d-none d-sm-inline">Play Rock</span>
      </a>
    </div>


    <div class="col-4 mb-3">
      <a href="paper" class="btn btn-block btn-outline-info">
        <i class="far fa-hand-paper fa-fw"></i>

        <span class="d-none d-sm-inline">Play Paper</span>
      </a>
    </div>

    <div class="col-4 mb-3">
      <a href="scissors" class="btn btn-block btn-info">
        <i class="far fa-hand-scissors fa-fw"></i>

        <span class="d-none d-sm-inline">Play Scissors</span>
      </a>
    </div>
  </div>


  <div class="row text-center">
    <div class="col-sm-6 mb-3">
      <div class="card border-success">
        <div class="card-body text-success">
          <h2 class="card-title">We played scissors!</h2>

          <p class="card-text">
            <i class="far fa-hand-scissors fa-10x"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="card border-danger">
        <div class="card-body text-danger">
          <h2 class="card-title">They played <%= @comp_move %>!</h2>

          <p class="card-text">
            <i class="far fa-hand-<%= @comp_move %> fa-10x"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <div class="alert alert-success">
        <h2 class="display-3">
          We <%= @outcome %>!
        </h2>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <a href="rules">
        Rules
      </a>
    </div>
  </div>
</div>
