<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
  <div class="container">
    <a class="navbar-brand" href="/omnicalc/first_target/word_count/new">
      <i class="fas fa-fw fa-calculator"></i>

      Omnicalc
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-block d-lg-none">
        <li class="nav-item">
          <a href="/omnicalc/first_target/word_count/new" class="nav-link">
            <i class="fas fa-fw fa-book"></i>

            Word Count
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/loan_payment/new" class="nav-link">
            <i class="far fa-fw fa-money-bill-alt"></i>

            Loan Payment
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/time_between/new" class="nav-link">
            <i class="far fa-fw fa-clock"></i>

            Time Between
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/stats/new" class="nav-link">
            <i class="far fa-fw fa-chart-bar"></i>

            Descriptive Statistics
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <nav class="nav flex-column">
        <a href="/omnicalc/first_target/word_count/new" class="nav-link btn btn-outline-primary mb-2">
          <i class="fas fa-fw fa-book"></i>

          Word Count
        </a>

        <a href="/omnicalc/first_target/loan_payment/new" class="nav-link btn btn-outline-success mb-2">
          <i class="far fa-fw fa-money-bill-alt"></i>

          Loan Payment
        </a>

        <a href="/omnicalc/first_target/time_between/new" class="nav-link btn btn-outline-warning mb-2">
          <i class="far fa-fw fa-clock"></i>

          Time Between
        </a>

        <a href="/omnicalc/first_target/stats/new" class="nav-link btn btn-info mb-2">
          <i class="far fa-fw fa-chart-bar"></i>

          Descriptive Statistics
        </a>
      </nav>
    </div>  <!-- col-md-3 -->

    <div class="col-lg-6">
      <div class="card border-info mb-3">
        <div class="card-header">
          Descriptive statistics results
        </div>

        <div class="card-body">
          <dl>
            <dt>
              Numbers
            </dt>
            <dd class="numbers">
              [10.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 8.0, 9.0]
            </dd>

            <dt>
              Sorted Numbers
            </dt>
            <dd class="sorted_numbers">
              [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 8.0, 9.0, 10.0]
            </dd>

            <dt>
              Count
            </dt>
            <dd class="count">
              11
            </dd>

            <dt>
              Minimum
            </dt>
            <dd class="minimum">
              1.0
            </dd>

            <dt>
              Maximum
            </dt>
            <dd class="maximum">
              10.0
            </dd>

            <dt>
              Range
            </dt>
            <dd class="range">
              9.0
            </dd>

            <dt>
              Median
            </dt>
            <dd class="median">
              6.0
            </dd>

            <dt>
              Sum
            </dt>
            <dd class="sum">
              63.0
            </dd>

            <dt>
              Mean
            </dt>
            <dd class="mean">
              5.7272727272727275
            </dd>

            <dt>
              Variance
            </dt>
            <dd class="variance">
              8.016528925619836
            </dd>

            <dt>
              Standard Deviation
            </dt>
            <dd class="standard_deviation">
              2.831347545890443
            </dd>

            <dt>
              Mode
            </dt>
            <dd class="mode">
              8.0
            </dd>
          </dl>
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-lg-6 -->
  </div>  <!-- row -->
</div> <!-- container -->>
