<nav class="navbar navbar-expand-lg navbar-dark bg-warning mb-3">
  <div class="container">
    <a class="navbar-brand" href="/omnicalc/first_target/">
      <i class="fas fa-fw fa-calculator"></i>

      Omnicalc
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-block d-lg-none">
        <li class="nav-item">
          <a href="/omnicalc/first_target/word_count/new" class="nav-link">
            <i class="fas fa-fw fa-book"></i>

            Word Count
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/loan_payment/new" class="nav-link">
            <i class="far fa-fw fa-money-bill-alt"></i>

            Loan Payment
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/time_between/new" class="nav-link">
            <i class="far fa-fw fa-clock"></i>

            Time Between
          </a>
        </li>

        <li class="nav-item">
          <a href="/omnicalc/first_target/stats/new" class="nav-link">
            <i class="far fa-fw fa-chart-bar"></i>

            Descriptive Statistics
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <nav class="nav flex-column">
        <a href="/omnicalc/first_target/word_count/new" class="nav-link btn btn-outline-primary mb-2">
          <i class="fas fa-fw fa-book"></i>

          Word Count
        </a>

        <a href="/omnicalc/first_target/loan_payment/new" class="nav-link btn btn-outline-success mb-2">
          <i class="far fa-fw fa-money-bill-alt"></i>

          Loan Payment
        </a>

        <a href="/omnicalc/first_target/time_between/new" class="nav-link btn btn-warning mb-2">
          <i class="far fa-fw fa-clock"></i>

          Time Between
        </a>

        <a href="/omnicalc/first_target/stats/new" class="nav-link btn btn-outline-info mb-2">
          <i class="far fa-fw fa-chart-bar"></i>

          Descriptive Statistics
        </a>
      </nav>
    </div>  <!-- col-md-3 -->

    <div class="col-lg-6">
      <div class="card border-warning mb-3">
        <div class="card-header">
          Time between results
        </div>

        <div class="card-body">
          <dl>
            <dt>Starting Time</dt>
            <dd>11:30am on January 20, 2017</dd>

            <dt>Ending Time</dt>
            <dd>11:30am on January 20, 2021</dd>

            <dt>Seconds</dt>
            <dd>126230400.0</dd>

            <dt>Minutes</dt>
            <dd>2103840.0</dd>

            <dt>Hours</dt>
            <dd>35064.0</dd>

            <dt>Days</dt>
            <dd>1461.0</dd>

            <dt>Weeks</dt>
            <dd>208.71428571428572</dd>

            <dt>Years</dt>
            <dd>4.0</dd>
          </dl>
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col-lg-6 -->
  </div>  <!-- row -->
</div> <!-- container -->>
